.form-radios .form-item {
    display:inline;
}
#comment-form-wrapper #edit-chapter-wrapper,
#comment-form-wrapper #edit-example-wrapper,
#comment-form-wrapper #edit-submit,
#comment-form-wrapper #comment-error-wrapper,
#ajax-loader {
    display: none;
}
.status {
    padding: 5px;
    background: lightgreen;
    border: 2px solid green;
}
#lightbox-wrapper {
    background: #ffffff;
    padding: 25px;
}
#lightbox-wrapper table tr {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

#lightbox-wrapper table tr:hover {
    background: #f3f3f3;
}
.error-comment {
    background: tomato !important;
}
.dull {
    background: #424242 !important;
}
